In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("train.csv")
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1.0,0.0,7.0,0.6,188.0,2.0,...,20.0,756.0,2549.0,9.0,7.0,19,0,0,1,1
1,1021,1,0.5,1,0.0,1.0,53.0,0.7,136.0,3.0,...,905.0,1988.0,2631.0,17.0,3.0,7,1,1,0,2
2,563,1,0.5,1,2.0,1.0,41.0,0.9,145.0,5.0,...,1263.0,1716.0,2603.0,11.0,2.0,9,1,1,0,2
3,615,1,2.5,0,0.0,0.0,10.0,0.8,131.0,6.0,...,1216.0,1786.0,2769.0,16.0,8.0,11,1,0,0,2
4,1821,1,1.2,0,13.0,1.0,44.0,0.6,141.0,2.0,...,1208.0,1212.0,1411.0,8.0,2.0,15,1,1,0,1

In [3]:
## % of missing values 
df.isnull().sum()/len(df) * 100

battery_power    0.00
blue             0.00
clock_speed      0.00
dual_sim         0.00
fc               0.25
four_g           0.25
int_memory       0.25
m_dep            0.25
mobile_wt        0.20
n_cores          0.20
pc               0.25
px_height        0.20
px_width         0.10
ram              0.10
sc_h             0.05
sc_w             0.05
talk_time        0.00
three_g          0.00
touch_screen     0.00
wifi             0.00
price_range      0.00
dtype: float64

In [4]:
## check the columns types 
df.dtypes

battery_power      int64
blue               int64
clock_speed      float64
dual_sim           int64
fc               float64
four_g           float64
int_memory       float64
m_dep            float64
mobile_wt        float64
n_cores          float64
pc               float64
px_height        float64
px_width         float64
ram              float64
sc_h             float64
sc_w             float64
talk_time          int64
three_g            int64
touch_screen       int64
wifi               int64
price_range        int64
dtype: object

In [5]:
## checking for the correlation between the target and features
matrix = df.corr(numeric_only=True)  
target = matrix["price_range"].sort_values(ascending=False)
target

price_range      1.000000
ram              0.917119
battery_power    0.200723
px_width         0.166094
px_height        0.148184
int_memory       0.042589
sc_w             0.038777
pc               0.034639
fc               0.024999
three_g          0.023611
sc_h             0.023300
talk_time        0.021859
blue             0.020573
wifi             0.018785
dual_sim         0.017444
four_g           0.015494
n_cores          0.004598
m_dep           -0.000083
clock_speed     -0.006606
touch_screen    -0.030411
mobile_wt       -0.032457
Name: price_range, dtype: float64

In [7]:
df.nunique()  ## check for number of unique values in each column

battery_power    1094
blue                2
clock_speed        26
dual_sim            2
fc                 20
four_g              2
int_memory         63
m_dep              10
mobile_wt         121
n_cores             8
pc                 21
px_height        1135
px_width         1109
ram              1561
sc_h               15
sc_w               19
talk_time          19
three_g             2
touch_screen        2
wifi                2
price_range         4
dtype: int64

In [8]:
## Fill null values 

df["fc"].fillna(df["fc"].mean(), inplace=True)
df["four_g"].fillna(df["four_g"].median(), inplace=True)
df["int_memory"].fillna(df["int_memory"].mean(), inplace=True)
df["m_dep"].fillna(df["m_dep"].mean(), inplace=True)
df["mobile_wt"].fillna(df["mobile_wt"].mean(), inplace=True)

df["n_cores"].fillna(df["n_cores"].median(), inplace=True)
df["pc"].fillna(df["pc"].median(), inplace=True)
df["px_height"].fillna(df["px_height"].mean(), inplace=True)
df["px_width"].fillna(df["px_width"].mean(), inplace=True)

df["ram"].fillna(df["ram"].mean(), inplace=True)

df.dropna(subset=["sc_h","sc_w"],inplace=True)

In [10]:
df.isnull().sum() ## Check for null values

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [11]:
df.to_csv("train_data_2.csv", index=False)